  
{{#each events as |event|}}

  <div class="row">
  <div class="col s6 m4">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="{{event.author.photoProfileURL}}" alt="" class="circle">
        <span class="username">{{event.author.username}}</span>
        <p>{{event.author.role}} <br>
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li>
        <div class="card">
          <div class="card-image">
            <img src="{{event.imgPath}}">
            <span class="card-title black-text">{{event.title}}</span>
          </div>
          <div class="card-content black-text">
            <p>{{event.description}}</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn orange modal-trigger" href="/event/{{event._id}}"> Details </a>
            <a href="/profile/{{event.author._id}}">Published: {{event.author.username}}</a>
          </div>
          <div class="card-action">
            <a href="/profile/{{event.author._id}}">go user profile</a>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </div>



{{/each}}

{{#each posts as |post|}}
  <div class="row">
  <div class="col s6 m4">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="{{post.author.photoProfileURL}}" alt="" class="circle">
        <span class="username">{{post.author.username}}</span>
        <p>{{post.author.role}} <br>
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li>
        <div class="card">
          <div class="card-image">
            <img src="{{post.imgPath}}">
            <span class="card-title">{{post.title}}</span>
          </div>
          <div class="card-content">
            <p>{{post.description}}</p>
          </div>
          <div class="card-action">
            <a href="/profile/{{event.author._id}}">go user profile</a>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </div>
{{/each}}

